@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100..900&family=Uncial+Antiqua&display=swap');

body {
    margin: 0;  
    height: 100%; 
    background-image: url('../map.jpg');  
    background-size:cover;  
    background-position: center; 
    background-attachment: fixed;  
    color: #000;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

h1 {
    font-family: "Cinzel Decorative";
    font-weight: bold;
    font-size: 35px;
    margin-top: 40px;
}
h2 {
    font-family: "Cinzel Decorative";
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
}

.link {
    transition: transform 0.3s ease; 
}
.link:hover {
    transform: scale(1.2);
}

a {
    font-size: 25px;
    font-family: 'Outfit';
    color: inherit; 
    text-decoration: none;
}

.btn-home {
    font-family: 'Cinzel Decorative', serif;
    position: relative; 
    top: 30px; 
    left: 100px;
    margin: 50px;
    transform: translateX(-50%); 
    padding: 10px 30px;
    font-size: 30px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(86, 82, 82, 0.4); 
}

.btn-home:hover {
    background-color: #0e233a; 
    transform: translateX(-50%) scale(1.05); 
}

.btn-home:active {
    background-color: #0a1520; 
    transform: translateX(-50%) scale(1); 
}


.icon {
    position: fixed;
    color: white;
    cursor: pointer;
    z-index: 10;
    width: 70px;
    height: 80px;  
    z-index: 10;
    transition: transform 0.3s ease; 

}

.icon:hover{
    transform: scale(1.2);
}

.container {
    position: fixed;
    top: 100px;
    bottom: 80px;
    right: 100px;
    z-index: 10;
    text-align: center;
    background-color: rgba(222, 206, 171, 0.7);
    border-radius: 20px;
    width: 310px;
    height: 700px;
    box-shadow: 0 4px 10px rgba(86, 82, 82, 0.4); 
}

p{
    font-size: 25px;
}

.containermodal {
    align-items: center;
    margin: auto;
    /* margin-top: 300px; */
    z-index: 10;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 800px;
    height: fit-content;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(86, 82, 82, 0.4); 
}

#iconArryn{
    background-image: url('../assets/Arryn.png');
    background-size: cover; 
    background-position: center;
    top: 35vh; left: 43vh;
}
#iconBaratheon{
    background-image: url('../assets/Baratheon.png');
    background-size: cover; 
    background-position: center;
    top: 63vh; left: 40vh;
}
#iconGreyjoy{
    background-image: url('../assets/Greyjoy.png');
    background-size: cover; 
    background-position: center;
    top: 35vh; left: 17vh;
}
#iconHightower{
    background-image: url('../assets/Hightower.png');
    background-size: cover; 
    background-position: center;
    top: 50vh; left: 27vh;
}
#iconLannister{
    background-image: url('../assets/Lannister.png');
    background-size: cover; 
    background-position: center;
    top: 47vh; left: 22vh;
}
#iconMartell{
    background-image: url('../assets/Martell.png');
    background-size: cover; 
    background-position: center;
    top: 75vh; left: 30vh;
}
#iconStark{
    background-image: url('../assets/Stark.png');
    background-size: cover; 
    background-position: center;
    top: 15vh; left: 34vh;
}
#iconBaratheon2{
    background-image: url('../assets/Baratheon.png');
    background-size: cover; 
    background-position: center;
    top: 50vh; left: 40vh;
}
#iconTully{
    background-image: url('../assets/Tully.png');
    background-size: cover; 
    background-position: center;
    top: 46vh; left: 32vh;
}
#iconTyrell{
    background-image: url('../assets/Tyrell.png');
    background-size: cover; 
    background-position: center;
    top: 57vh; left: 27vh;
}

