<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones</title>
    <link rel="stylesheet" href="../../static/css/idbattle.css"/>
</head>
<body>

    <button onclick="window.location.href='/'" class="btn-home">
        Home
    </button>

    <div class="container">
        <div class="col-md-12"></div>
        <div class="titulo">{{battle.name}}</div>
        <p>Region: <a href="/regions/{{region.region_id}}">{{region.region}}</a> </p>
        <p>Year: {{battle.year}} </p>
        <p>Type: {{battle.type}} </p>

        {% if battle.major_capture == 0 %}
        <p>Major capture: No </p>
        {% else %}
        <p>Major capture: Yes </p>
        {% endif %}

        {% if battle.major_death == 0 %}
        <p>Major death: No </p>
        {% else %}
        <p>Major death: Yes </p>
        {% endif %}

        {% if battle.is_attacker_winner %}
        <div class="opcolor">
            {% endif %}
        <div class="op1">
            <h2> ATTACK </h2>

            <img src="{{attacker_king.imageUrl}}">

            <h3> <a href="/characters/{{attacker_king.character_ID}}">{{attacker_king.character}}</a> </h3>

            <br>
            {% if battle.attacker_size %}
            <p> Attack size: {{battle.attacker_size}}</p> 
            <br>
            {% endif %}

            <p> Commanders: </p>
            
                {% for c in attack_commanders %}
                <p><a href="/characters/{{c.character_ID}}">{{c.character}}</a></p>
               {% endfor %}
            
               <br>
            <p> Houses that fighted together: </p>
        
                {% for h in attacker_houses %}
                <p><a href="/houses/{{h.house_ID}}">{{h.house}}</a></p>
               {% endfor %}
            <br>
        </div>
        {% if battle.is_attacker_winner %}
    </div>
    {% endif %}

    {% if not battle.is_attacker_winner %}
        <div class="opcolor">
            {% endif %}
        <div class="op2">
            <h2> DEFENSE </h2>

            <img src="{{defender_king.imageUrl}}">

            <h3> <a href="/characters/{{defender_king.character_ID}}">{{defender_king.character}}</a> </h3>

            <br>
            {% if battle.defender_size %}
            <p> Defense size: {{battle.defender_size}}</p> 
            <br>
            {% endif %}

            {% if defense_commanders %}
            <p> Commanders: </p>
                {% for c in defense_commanders %}
                <p><a href="/characters/{{c.character_ID}}">{{c.character}}</a></p>
               {% endfor %}
               <br>
            {% endif %}

            <p> Houses that fighted together: </p>
                {% for h in defender_houses %}
                <p><a href="/houses/{{h.house_ID}}">{{h.house}}</a></p>
               {% endfor %}
            <br>
        </div>
        {% if not battle.is_attacker_winner %}
    </div>
    {% endif %}
    </div>


</body>
</html>